* {
    box-sizing: border-box;
    margin: auto;
}

div img {
    border-radius: 50%;
    border: 10px solid black;
    max-width: 100%;
    width:  400px;
    background: gray;
}

.title{
    margin: 0 auto;
}

div {
    background-color: gray;
}